Project Development Phase/Sprint-2/flows.json
[{"id":"503abb11456285fd","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d60f18389e276446","type":"debug","z":"503abb11456285fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":596,"y":887,"wires":[]},{"id":"828abc951d9e7315","type":"ibmiot in","z":"503abb11456285fd","authentication":"apiKey","apiKey":"27aee5be6e2b4ef8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1407","applicationId":"","deviceType":"Microcontroller","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":236,"y":907,"wires":[["7ea2a40d3de317d9"]]},{"id":"7ea2a40d3de317d9","type":"function","z":"503abb11456285fd","name":"","func":"msg.payload = {\"name\" : msg.payload.name,\n    \"lat\" : msg.payload.lat,\n    \"lon\" : msg.payload.long,\n    \"iconColor\" : \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":406,"y":907,"wires":[["d60f18389e276446","97156ece1a3e025a"]]},{"id":"97156ece1a3e025a","type":"worldmap","z":"503abb11456285fd","name":"","lat":"","lon":"","zoom":"","layer":"OSMC","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":606,"y":947,"wires":[]},{"id":"3c9743df0ef84873","type":"ui_dropdown","z":"503abb11456285fd","name":"Boarding Station","label":"Boarding Station","tooltip":"","place":"Select option","group":"11d8ecb6b13b90f1","order":1,"width":16,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Hyderabad","value":"Hyderabad","type":"str"},{"label":"Chennai","value":"Chennai","type":"str"},{"label":"Mumbai","value":"Mumbai","type":"str"},{"label":"Bangalore","value":"Bangalore","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":132,"y":546,"wires":[["04db81263522bfcf"]]},{"id":"0a378be659fd2e88","type":"ui_dropdown","z":"503abb11456285fd","name":"Destination Station","label":"Destination Station","tooltip":"","place":"Select option","group":"11d8ecb6b13b90f1","order":2,"width":16,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Madurai","value":"Madurai","type":"str"},{"label":"Delhi","value":"Delhi","type":"str"},{"label":"Kolkata","value":"Kolkata","type":"str"},{"label":"Kerala","value":"Kerala","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":132,"y":606,"wires":[["5559446466b87a5e"]]},{"id":"04db81263522bfcf","type":"function","z":"503abb11456285fd","name":"Boarding","func":"global.set('b',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":342,"y":546,"wires":[[]]},{"id":"5559446466b87a5e","type":"function","z":"503abb11456285fd","name":"","func":"globa.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":342,"y":606,"wires":[[]]},{"id":"97b70e62dd8b9304","type":"ui_form","z":"503abb11456285fd","name":"Passenger Details","label":"","group":"11d8ecb6b13b90f1","order":4,"width":16,"height":1,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"text","required":true,"rows":null},{"label":"Mobile No","value":"mobile","type":"text","required":true,"rows":null}],"formValue":{"name":"","age":"","mobile":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":132,"y":446,"wires":[["f3b2837760bf7e24","576dfc4d56c9373c","2680a19b017ccc7d"]]},{"id":"33e40f5ee3818e52","type":"ui_button","z":"503abb11456285fd","name":"CLEAR","group":"11d8ecb6b13b90f1","order":60,"width":16,"height":1,"passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":142,"y":486,"wires":[["cbdb21b9930b19bb"]]},{"id":"cbdb21b9930b19bb","type":"function","z":"503abb11456285fd","name":"","func":"global.set('s1',0)\nglobal.set('s2',0)\nglobal.set('s3',0)\nglobal.set('s4',0)\nglobal.set('s5',0)\nvar a1 = [1,2,3,4,5]\nglobal.set('a',a1)\nmsg.payload = global.get('a')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":500,"wires":[["5ace9ea91af6b6ae"]]},{"id":"f3b2837760bf7e24","type":"delay","z":"503abb11456285fd","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":342,"y":446,"wires":[["5ace9ea91af6b6ae"]]},{"id":"5ace9ea91af6b6ae","type":"function","z":"503abb11456285fd","name":"","func":"var a = global.get('a')\nvar s = []\nfor(let i=0;i<a.length;i++){\n    s.push(a[i])\n}\nif(s.length == 0){\n    msg.options = [{\"No Seats Available\":0}]\n}\nelse{\n    msg.options = s\n}\nmsg.payload = s\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":522,"y":466,"wires":[["ed67ca1d0ff5810a"]]},{"id":"ed67ca1d0ff5810a","type":"ui_dropdown","z":"503abb11456285fd","name":"Seat","label":"Select Seat","tooltip":"","place":"Select option","group":"11d8ecb6b13b90f1","order":3,"width":16,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":672,"y":466,"wires":[["a978e2a14a6ec8ea"]]},{"id":"a978e2a14a6ec8ea","type":"function","z":"503abb11456285fd","name":"","func":"global.set('s',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":889,"y":459,"wires":[[]]},{"id":"576dfc4d56c9373c","type":"function","z":"503abb11456285fd","name":"","func":"var s = global.get('s')\nvar a = global.get('a')\nfunction rem(x){\n    for(let i=0;i<a.length;i++){\n        if(a[i] == x){\n            a.splice(i,1)\n        }\n    }\n}\nif(s == 1){\n    global.set('s1',s)\n    rem(s)\n}\nelse if(s == 2){\n    global.set('s2',s)\n    rem(s)\n}\nelse if(s == 3){\n    global.set('s3',s)\n    rem(s)\n}\nelse if(s == 4){\n    global.set('s4',s)\n    rem(s)\n}\nelse{\n    global.set('s5',s)\n    rem(s)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":349,"y":399,"wires":[["79f66042ce527734"]]},{"id":"2680a19b017ccc7d","type":"function","z":"503abb11456285fd","name":"","func":"global.set('m',msg.payload)\nvar a = global.get('s')\nif(a == 1 || a ==2 || a == 3 || a == 4 || a == 5){\n    msg.payload = 0\n}\nelse{\n    msg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":349,"y":339,"wires":[["2df0f36c98c12e88"]]},{"id":"2df0f36c98c12e88","type":"switch","z":"503abb11456285fd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":519,"y":339,"wires":[["b016e25253466bc9"],["d30f82d0c44a1dc8"]]},{"id":"d30f82d0c44a1dc8","type":"function","z":"503abb11456285fd","name":"","func":"msg.payload = \"Ticket cannot be booked\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":709,"y":339,"wires":[["03944777bc73b237"]]},{"id":"03944777bc73b237","type":"ui_toast","z":"503abb11456285fd","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":919,"y":339,"wires":[]},{"id":"b016e25253466bc9","type":"function","z":"503abb11456285fd","name":"Storing in DB","func":"var m = global.get('m')\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,19)\nvar d1 = date+','+time\nmsg.payload = {\n    \"_id\" : d1,\n    \"Name\" : m.name,\n    \"Age\" : m.age,\n    \"Mobile\" : m.mobile,\n    \"Boarding\" : global.get('b'),\n    \"Destination\" : global.get('d'),\n    \"Seat\": global.get('s')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":199,"y":259,"wires":[["f1ef99e84bdd36fc","6cadd6e1f19504d8"]]},{"id":"f1ef99e84bdd36fc","type":"cloudant out","z":"503abb11456285fd","name":"","cloudant":"","database":"passengerdetails","service":"node-red-qaado-2022--cloudant-1664094274334-4801","payonly":true,"operation":"insert","x":399,"y":179,"wires":[]},{"id":"6cadd6e1f19504d8","type":"function","z":"503abb11456285fd","name":"QR Code Data","func":"msg.qrcodeinput = msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":449,"y":259,"wires":[["a3f4ddce38d41ef8"]]},{"id":"a3f4ddce38d41ef8","type":"qrcode-generator","z":"503abb11456285fd","name":"QR Code","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#fafafa","colordark":"#000000","printstatus":false,"x":629,"y":159,"wires":[["a590c11968067c73","95d8ae57da044cae","085b85017e6a29ed"]]},{"id":"a590c11968067c73","type":"function","z":"503abb11456285fd","name":"","func":"msg.payload = \"Ticket is Generated\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":100,"wires":[["d55550c4b5209dc0"]]},{"id":"d55550c4b5209dc0","type":"ui_toast","z":"503abb11456285fd","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1050,"y":100,"wires":[[]]},{"id":"79f66042ce527734","type":"debug","z":"503abb11456285fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":400,"wires":[]},{"id":"95d8ae57da044cae","type":"ui_template","z":"503abb11456285fd","group":"11d8ecb6b13b90f1","name":"","order":6,"width":"5","height":"5","format":"<img src ={{msg.payload}} />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":960,"y":160,"wires":[[]]},{"id":"085b85017e6a29ed","type":"delay","z":"503abb11456285fd","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":240,"wires":[["aff495dfed9d7ec5"]]},{"id":"aff495dfed9d7ec5","type":"function","z":"503abb11456285fd","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":240,"wires":[["95d8ae57da044cae"]]},{"id":"6183866bcb85ec03","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"c63fad96f66ec62d","order":2,"width":2,"height":1},{"id":"7d7427bc15674c7f","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"c63fad96f66ec62d","order":4,"width":2,"height":1},{"id":"29c7cbcc9f5e8547","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"c63fad96f66ec62d","order":5,"width":2,"height":1},{"id":"24f214de5c59a9f6","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"c63fad96f66ec62d","order":6,"width":2,"height":1},{"id":"e921355b97b1fc27","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"c63fad96f66ec62d","order":7,"width":2,"height":1},{"id":"b564dd877c8fb220","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"c63fad96f66ec62d","order":8,"width":2,"height":1},{"id":"a05e35e18d6f0e7f","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":5,"width":2,"height":1},{"id":"04a947b809186d70","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":7,"width":3,"height":1},{"id":"4684f4c00f08d023","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":8,"width":2,"height":1},{"id":"c747540bd5c60366","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":9,"width":3,"height":1},{"id":"a0bac1704b9bc410","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":10,"width":2,"height":1},{"id":"8ca6c0f43232f7d4","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":11,"width":3,"height":1},{"id":"2352d76cfdfb77ef","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":12,"width":2,"height":1},{"id":"f23ee5cde730fb49","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":13,"width":3,"height":1},{"id":"96fe1910820ca922","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":14,"width":2,"height":1},{"id":"c0f0ea7bb7042482","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":15,"width":3,"height":1},{"id":"8f64a054cac2e280","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":16,"width":2,"height":1},{"id":"2f410c8f613e63d0","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":17,"width":3,"height":1},{"id":"4a05fe820d8881de","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":18,"width":2,"height":1},{"id":"8af25c84c22e601d","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":19,"width":3,"height":1},{"id":"f77dc1279199dcd2","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":20,"width":2,"height":1},{"id":"b597ba6c8e660927","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":21,"width":3,"height":1},{"id":"8521d89c8109d279","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":22,"width":2,"height":1},{"id":"801a1b268363f715","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":23,"width":3,"height":1},{"id":"830b4ee64766f48d","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":24,"width":2,"height":1},{"id":"9b219c7788cb8891","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":25,"width":3,"height":1},{"id":"b96e6247400c3db5","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":26,"width":2,"height":1},{"id":"9f591ea10bf148fa","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":27,"width":3,"height":1},{"id":"f08a9b050bc6b0f5","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":28,"width":2,"height":1},{"id":"e7b6f9a6f2379f01","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":29,"width":3,"height":1},{"id":"5f93de1bb5610b99","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":30,"width":2,"height":1},{"id":"4247968ec0c834ab","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":31,"width":3,"height":1},{"id":"8371e42970830f15","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":32,"width":2,"height":1},{"id":"7c4399a9fba563ed","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":33,"width":3,"height":1},{"id":"d7c12d561007e619","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":34,"width":2,"height":1},{"id":"5577906a1d57b296","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":35,"width":3,"height":1},{"id":"06b70bf51b3e6842","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":36,"width":2,"height":1},{"id":"d16a815dd8916ab0","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":37,"width":3,"height":1},{"id":"3fad20f5fc584962","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":38,"width":2,"height":1},{"id":"a5eb527599dd3840","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":39,"width":3,"height":1},{"id":"9676a2f7c0429fab","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":40,"width":2,"height":1},{"id":"88878f962423751c","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":41,"width":3,"height":1},{"id":"d032a67ae0972d7b","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":42,"width":2,"height":1},{"id":"b245958c81d9b56a","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":43,"width":3,"height":1},{"id":"eafa4e46b485087a","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":44,"width":2,"height":1},{"id":"9b4ec88e3bccd953","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":45,"width":3,"height":1},{"id":"2d1c9350fcbd70fc","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":46,"width":2,"height":1},{"id":"7416044d3f59d6b0","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":47,"width":3,"height":1},{"id":"7d1e98c7b9faca63","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":48,"width":2,"height":1},{"id":"de608fbc9fd7fc71","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":49,"width":3,"height":1},{"id":"8237517dd94b39aa","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":50,"width":2,"height":1},{"id":"e03af5dec831aa47","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":51,"width":3,"height":1},{"id":"b9e7d168fd9205f6","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":52,"width":2,"height":1},{"id":"5be445fe3a01ecad","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":53,"width":3,"height":1},{"id":"e24fbd8daa689b3d","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":54,"width":2,"height":1},{"id":"6c238bcbe324d7f1","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":55,"width":3,"height":1},{"id":"68346f83c85f9a46","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":56,"width":2,"height":1},{"id":"bb8c6b7a920f50ac","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":57,"width":3,"height":1},{"id":"2b8181f5573ef161","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":58,"width":16,"height":1},{"id":"70b0493111c3b118","type":"ui_spacer","z":"503abb11456285fd","name":"spacer","group":"11d8ecb6b13b90f1","order":59,"width":16,"height":1},{"id":"27aee5be6e2b4ef8","type":"ibmiot","name":"Dragons","keepalive":"60","serverName":"9y2uod.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"11d8ecb6b13b90f1","type":"ui_group","name":"Reservation System","tab":"d786f3116d0a8fb0","order":1,"disp":true,"width":"16","collapse":false,"className":""},{"id":"c63fad96f66ec62d","type":"ui_group","name":"Smart Home","tab":"d769d103e6afd9d4","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"d786f3116d0a8fb0","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d769d103e6afd9d4","type":"ui_tab","name":"AC","icon":"dashboard","disabled":false,"hidden":false}]