Project Development Phase/Sprint-1/login and registration.json
[{"id":"0b88d79b3ce5c32d","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"06335576d9b4e71b","type":"ui_form","z":"0b88d79b3ce5c32d","name":"register","label":"Registration","group":"21b43655a5ce769e","order":2,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter E-mail","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Contact no","value":"contact","type":"number","required":true,"rows":null},{"label":"Gender (M/F/O)","value":"gender","type":"text","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","contact":"","gender":"","password":""},"payload":"","submit":"Register","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":120,"y":80,"wires":[["dc0940770a465ce4"]]},{"id":"6a698fcb54d011e6","type":"function","z":"0b88d79b3ce5c32d","name":"Storing registered data","func":"var ab = global.get('ab')\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,19)\nvar d1 = date+','+time\n\nmsg.payload = {\n    \"_id\" : ab.email,\n    \"Name\" : ab.name,\n    \"Email\" : ab.email,\n    \"Mobile\" : ab.contact,\n    \"Gender\" : ab.gender,\n    \"Password\" : ab.password,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["e433d3b050cc2e24","35ce27f3c6f58e5b","5a83f56fc4d0b7c4"]]},{"id":"e433d3b050cc2e24","type":"debug","z":"0b88d79b3ce5c32d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"35ce27f3c6f58e5b","type":"cloudant out","z":"0b88d79b3ce5c32d","name":"registration","cloudant":"","database":"registration","service":"node-red-zuglu-2022--cloudant-1664163818856-3754","payonly":true,"operation":"insert","x":630,"y":200,"wires":[]},{"id":"dc0940770a465ce4","type":"function","z":"0b88d79b3ce5c32d","name":"","func":"global.set('ab',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":180,"wires":[["6a698fcb54d011e6"]]},{"id":"d6131b81ca5d6767","type":"function","z":"0b88d79b3ce5c32d","name":"","func":"msg.payload = msg.payload.email\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":624,"wires":[["15f7b64ef71c496d"]]},{"id":"15f7b64ef71c496d","type":"cloudant in","z":"0b88d79b3ce5c32d","name":"","cloudant":"","database":"registration","service":"node-red-zuglu-2022--cloudant-1664163818856-3754","search":"_id_","design":"","index":"","x":530,"y":624,"wires":[["787503ef876d0550","660b3cd011f9a9fa"]]},{"id":"787503ef876d0550","type":"debug","z":"0b88d79b3ce5c32d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":624,"wires":[]},{"id":"5a83f56fc4d0b7c4","type":"ui_toast","z":"0b88d79b3ce5c32d","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Successfully Registered!!","name":"","x":690,"y":140,"wires":[[]]},{"id":"e22a5d4ed2a96462","type":"e-mail","z":"0b88d79b3ce5c32d","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"santhoshharish777999@gmail.com","dname":"","x":580,"y":544,"wires":[]},{"id":"ec7e8f859af0e0fc","type":"inject","z":"0b88d79b3ce5c32d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Msg checking","payload":"hello","payloadType":"str","x":210,"y":564,"wires":[["e22a5d4ed2a96462","d65c1b1a581c6298"]]},{"id":"d65c1b1a581c6298","type":"debug","z":"0b88d79b3ce5c32d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":524,"wires":[]},{"id":"2b7146cbc72f8ede","type":"debug","z":"0b88d79b3ce5c32d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":784,"wires":[]},{"id":"26211487719ec2a4","type":"ui_button","z":"0b88d79b3ce5c32d","name":"","group":"f42f05b5af347d17","order":11,"width":0,"height":0,"passthru":false,"label":"Make Payment","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":784,"wires":[["2b7146cbc72f8ede"]]},{"id":"71e391eb2676ca09","type":"ui_form","z":"0b88d79b3ce5c32d","name":"","label":"Login","group":"0bd21791bdabc112","order":5,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":130,"y":624,"wires":[["d6131b81ca5d6767","2094ad7565e6a154"]]},{"id":"323adbe829bb8ab8","type":"ui_toast","z":"0b88d79b3ce5c32d","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":810,"y":724,"wires":[[]]},{"id":"660b3cd011f9a9fa","type":"function","z":"0b88d79b3ce5c32d","name":"","func":"var pwd = global.get('pwd')\nif (pwd == msg.payload.Password)\n    {\n        msg.payload = \"Login Successful\"\n    }\nelse\n{\n    msg.payload = \"Login Failed\"\n}\n\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":724,"wires":[["323adbe829bb8ab8","3bb55fbcd113ce11"]]},{"id":"3bb55fbcd113ce11","type":"debug","z":"0b88d79b3ce5c32d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":664,"wires":[]},{"id":"2094ad7565e6a154","type":"function","z":"0b88d79b3ce5c32d","name":"","func":"global.set('pwd',msg.payload.password)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":704,"wires":[[]]},{"id":"f158d174462f0459","type":"ui_spacer","z":"0b88d79b3ce5c32d","name":"spacer","group":"0bd21791bdabc112","order":3,"width":1,"height":1},{"id":"69b20cf0388cf558","type":"ui_spacer","z":"0b88d79b3ce5c32d","name":"spacer","group":"0bd21791bdabc112","order":4,"width":1,"height":1},{"id":"bbf205f197d295ce","type":"ui_spacer","z":"0b88d79b3ce5c32d","name":"spacer","group":"0bd21791bdabc112","order":5,"width":1,"height":1},{"id":"e28b3cce76827f31","type":"ui_spacer","z":"0b88d79b3ce5c32d","name":"spacer","group":"0bd21791bdabc112","order":6,"width":1,"height":1},{"id":"3f22e85708c5e086","type":"ui_spacer","z":"0b88d79b3ce5c32d","name":"spacer","group":"0bd21791bdabc112","order":7,"width":1,"height":1},{"id":"4362ac59f107b843","type":"ui_spacer","z":"0b88d79b3ce5c32d","name":"spacer","group":"f42f05b5af347d17","order":6,"width":3,"height":1},{"id":"cbcf2f9bdf27fb2f","type":"ui_spacer","z":"0b88d79b3ce5c32d","name":"spacer","group":"f42f05b5af347d17","order":7,"width":3,"height":1},{"id":"103edc80b8979113","type":"ui_spacer","z":"0b88d79b3ce5c32d","name":"spacer","group":"f42f05b5af347d17","order":8,"width":3,"height":1},{"id":"ad8b103e13f799c1","type":"ui_spacer","z":"0b88d79b3ce5c32d","name":"spacer","group":"f42f05b5af347d17","order":9,"width":3,"height":1},{"id":"3397d3ab1507c56e","type":"ui_spacer","z":"0b88d79b3ce5c32d","name":"spacer","group":"f42f05b5af347d17","order":10,"width":3,"height":1},{"id":"21b43655a5ce769e","type":"ui_group","name":"REGISTRATION","tab":"1e1129ef1ebf32d4","order":6,"disp":true,"width":"6","collapse":false},{"id":"f42f05b5af347d17","type":"ui_group","name":"      WELCOME TO INDIAN RAILWAYS ","tab":"d5c5e069608249ff","order":2,"disp":true,"width":"8","collapse":false},{"id":"0bd21791bdabc112","type":"ui_group","name":"LOGIN","tab":"aff466c360db4483","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e1129ef1ebf32d4","type":"ui_tab","name":"REGISTER","icon":"dashboard","disabled":false,"hidden":false},{"id":"d5c5e069608249ff","type":"ui_tab","name":"HOME","icon":"dashboard","disabled":false,"hidden":false},{"id":"aff466c360db4483","type":"ui_tab","name":"LOGIN","icon":"dashboard","disabled":false,"hidden":false}]