Project Development Phase/Sprint-1/registration.json
[{"id":"0b88d79b3ce5c32d","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"06335576d9b4e71b","type":"ui_form","z":"0b88d79b3ce5c32d","name":"","label":"Registration","group":"0bd21791bdabc112","order":2,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter E-mail","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Contact no","value":"contact","type":"number","required":true,"rows":null},{"label":"Gender (M/F/O)","value":"gender","type":"text","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","contact":"","gender":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":130,"y":80,"wires":[["dc0940770a465ce4"]]},{"id":"6a698fcb54d011e6","type":"function","z":"0b88d79b3ce5c32d","name":"Storing registered data","func":"var ab = global.get('ab')\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,19)\nvar d1 = date+','+time\n\nmsg.payload = {\n    \"_id\" : d1,\n    \"Name\" : ab.name,\n    \"Email\" : ab.email,\n    \"Mobile\" : ab.contact,\n    \"Gender\" : ab.gender,\n    \"Password\" : ab.password,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["e433d3b050cc2e24","35ce27f3c6f58e5b"]]},{"id":"e433d3b050cc2e24","type":"debug","z":"0b88d79b3ce5c32d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"35ce27f3c6f58e5b","type":"cloudant out","z":"0b88d79b3ce5c32d","name":"registration","cloudant":"","database":"registration","service":"node-red-zuglu-2022--cloudant-1664163818856-3754","payonly":false,"operation":"insert","x":630,"y":200,"wires":[]},{"id":"dc0940770a465ce4","type":"function","z":"0b88d79b3ce5c32d","name":"","func":"global.set('ab',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":180,"wires":[["6a698fcb54d011e6"]]},{"id":"0bd21791bdabc112","type":"ui_group","name":"QRCODE","tab":"d5c5e069608249ff","order":1,"disp":true,"width":"6","collapse":false},{"id":"d5c5e069608249ff","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]